<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:brewer="http://brewer.algaworks.com"
	layout:decorator="layout/LayoutPadrao">
<head>
<title>SysteMark</title>
</head>
<body>

	<section layout:fragment="conteudo">

		<div class="page-header">

			<div class="container-fluid">

				<h1>Fechamentos</h1>

			</div>

		</div>
		<div class="container-fluid">
			<form method="POST" class="form-vertical  js-form-loading" action="/fechamento" th:object="${fechamento}">
			
				<div class="form-group">
					
					<label for="input-data_fechamento">Data do fechamento</label>
					<input id="input-data_fechamento" type="text" class="form-control" />
					
				</div>
				
				<div class="form-group">
					
					<label for="input-saldo_final">Saldo final</label>
					<input id="input-saldo_final" type="text" class="form-control" />
					
				</div>
				
				 	
				 <div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
					<a th:href="@{/fechamento}" class="btn  btn-default">Cancelar</a>
				</div>

			</form>
		</div>

	</section>
</body>
</html>