<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:brewer="http://brewer.algaworks.com"
	layout:decorator="layout/LayoutPadrao"
>

<div class="modal fade" id="cadastroCategoria" tabindex="-1">
	<div class="modal-dialog">
		<form action="" method="POST">
			
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><strong>Cadastrar Categoria</strong></h4>
				</div>
				
				<div class="modal-body">

		
									
											<div class="form-group">
											<label for="nome">Nome</label>
												<input class="form-control"  id="nome" type="text"
													name="nome" />
											</div>
	
											
											<div class="form-group">
											<label for="descricao">Descrição</label>
												<input type="text" class="form-control"
													id="descricao"  name="descricao" /> <a
													class="btn btn-link btn-xs"> 
												</a>
											</div>
										
				</div>
				
				<div class="modal-footer">
				<button type="submit" id="search-form" class="btn btn-primary">Enviar</button>
				<button type="reset" class="btn btn-defaul">Limpar</button>
				</div>
			</div>
		</form>

	</div>
</div>		
</html>