<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
        layout:decorator="LayoutPadrao"><!--  Add o thymelead -->
<head>
	<title>Cadastro de Categoria</title> 
</head>


	<section layout:fragment="conteudo">
		 
		<div class="row-fluid">
            <!-- block -->
            <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
			<button type="button" class="close" data-dismiss="alert"></button>
               <h4>Sucesso</h4>
               <span th:text="${mensagem}"> Título Salvo com Sucesso</span>         	
		</div>
        	<div class="block">
        		 
            	<div class="navbar navbar-inner block-header menu2">
                	<div class="muted pull-left">Cadastro de Produto </div>                            
                </div>
                <div class="block-content collapse in">
                 	<div class="span12">
                    	<form class="form-horizontal" method="POST" action="/categorias">
                        	<fieldset>
                            <legend>Form Horizontal</legend>
                            	
								 <div class="control-group">
                                    <label class="control-label" for="nome">Nome</label>
                                    <div class="controls">
                                        <input  type="text" class="input-xlarge focused" id="nome" name="nome"/>
                                    </div>
                                 </div>	
                                 <div class="control-group">
                                    <label class="control-label" for="descricao">Descrição</label>
                                    <div class="controls">
                                        <input  type="text" class="input-xlarge focused" id="descricao" name="descricao"/>
                                    </div>
                                 </div>								
								
									<!-- <div class="panel-heading">				
										<div class="clearfix">
											<h1 class="panel-title titulo-panel">Novo Cargo</h1>
											<a class="btn btn-link link-panel" th:href="@{/cargos}">Voltar para pesquisa título</a>
										</div>	
									</div> -->
									
									<!-- <div class="panel-body">
									<div class="form-group">
										<label for="descricao" class="col-sm-2 control-label">Nome</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="descricao" name="nome"/>
										</div>
									</div> 		
									
									<div class="form-group">
										<label for="descricao" class="col-sm-2 control-label">Descrição</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" name="descricao"/>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10"> Class offset server para pular 2 coluna antes
											<button type="submit" class="btn btn-primary">Salvar</button>
										</div>
									</div>
									
								</div> -->
									<div class="form-actions">
                                          <button type="submit" class="btn btn-primary">Salvar</button>
                                          <button type="reset" class="btn">Cancel</button>
                                    </div>
							
								
                                      </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
     <!-- /block -->
     </div>
	
	
	</section>

</html>