
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
        layout:decorator="LayoutPadrao"><!--  Add o thymelead -->
<head>
<title>Cadastro de Funcionario</title> 
</head>
<div layout:fragment="conteudo">
	<div class="row-fluid section">
                         <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Morris.js <small>Monthly growth</small></div>
                                <div class="pull-right"><span class="badge badge-warning">View More</span>

                                </div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <div id="hero-graph" style="height: 230px;"></div>
                                </div>
                            </div>
                        </div>
     <!-- /block -->
</div>
	
	
</div>
</html>







 